<app-loading-spinner [isLoading]="this.isLoading"></app-loading-spinner>
<div class="product-container">
  <ng-container *ngIf="this.wishlistItems$ | async as wishlistItems; else loading">
    <div *ngIf="wishlistItems.length > 0; else emptyWishlist" class="product-grid">
      <app-product-card *ngFor="let product of wishlistItems" [product]="product"></app-product-card>
    </div>
  </ng-container>

  <ng-template #emptyWishlist>
    <div class="empty-wishlist">
      <img src="assets/images/emptywishlist.png" alt="Empty Wishlist" />
      <h2>Your Wishlist is Empty</h2>
      <p>Add items to your wishlist to view them here.</p>
    </div>
  </ng-template>
  
  <ng-template #loading>
    <p>Loading wishlist items...</p>
  </ng-template>
</div>
