<div class="login-container">
    <div class="login-left">
        <img src="assets/icons/BoughtIt.ico" alt="BoughtIt logo" class="logo">
      <h1>Register</h1>
      <p *ngIf="this.alert" style="color: red;">{{alert}}</p>
      <app-loading-spinner #loadingSpinner></app-loading-spinner>
      <app-alert #messageBox></app-alert>
      <form method="post" [formGroup]="registerForm" (ngSubmit)="onSubmitClick()">
        <!-- <p *ngIf="alert" style="color: red;text-align: center;">{{alert}}</p> -->
        <label for="firstname">First name</label>
        <input type="text" formControlName="firstname" required="required" id="firstname" name="firstname" placeholder="First name">
        <div *ngIf="registerForm.invalid">
          <small *ngIf="registerForm.get('firstname')?.errors?.['required'] && registerForm.get('firstname')?.touched" style="color: red;">Firstname is required</small>
          </div>
        <label for="lastname">Last name</label>
        <input type="text" formControlName="lastname" required="required" id="lastname" name="lastname" placeholder="Last Name">
        <div *ngIf="registerForm.invalid">
          <small *ngIf="registerForm.get('lastname')?.errors?.['required'] && registerForm.get('lastname')?.touched" style="color: red;">Lastname is required</small>
         </div>
         <label for="gender">Gender</label>
         <select formControlName="gender" required="required" id="gender" name="gender">
          <option value="-1">Select</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
         </select>
        <div *ngIf="registerForm.invalid">
          <small *ngIf="registerForm.get('gender')?.errors?.['required'] && registerForm.get('gender')?.touched" style="color: red;">Gender is required</small>
         </div>
         <label for="phoneNumber">Phone number</label>
        <input type="phone" formControlName="phoneNumber" required="required" placeholder="Phone number" id="phoneNumber" name="phoneNumber">
        <div *ngIf="registerForm.invalid">
          <small *ngIf="registerForm.get('phoneNumber')?.errors?.['required'] && registerForm.get('phoneNumber')?.touched" style="color: red;">Phone number is required</small>
         </div>
        <label for="email">Email</label>
        <input type="email" formControlName="email" required="required" id="email" name="username" placeholder="Email">
        <div *ngIf="registerForm.invalid">
          <small *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched" style="color: red;">Email is required</small>
          <small *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched" style="color: red;">Please enter a valid email</small>
          </div>
        <label for="password">Password</label>
        <input type="password" formControlName="password" required="required" id="password" name="password" placeholder="Password">
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
          <small *ngIf="registerForm.get('password')?.errors?.['required']" style="color: red;">Password is required</small>
          <div *ngIf="registerForm.get('password')?.errors?.['passwordRequirements']">
          <small *ngIf="!registerForm.get('password')?.errors?.['passwordRequirements']?.hasDigit" style="color: red;">Password must contain at least one digit.<br></small>
          <small *ngIf="!registerForm.get('password')?.errors?.['passwordRequirements']?.hasLowerCase" style="color: red;">Password must contain at least one lowercase letter.<br></small>
          <small *ngIf="!registerForm.get('password')?.errors?.['passwordRequirements']?.hasUpperCase" style="color: red;">Password must contain at least one uppercase letter.<br></small>
          <small *ngIf="!registerForm.get('password')?.errors?.['passwordRequirements']?.hasNonAlphanumeric" style="color: red;">Password must contain at least one non-alphanumeric character.<br></small>
          <small *ngIf="!registerForm.get('password')?.errors?.['passwordRequirements']?.hasMinLength" style="color: red;">Password must be at least 6 characters long.</small>
          </div>
        </div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" required="required" id="confirmPassword" name="confirmPassword" placeholder="Password">
        <div *ngIf="(registerForm.get('confirmPassword')?.errors || registerForm.errors) && registerForm.get('confirmPassword')?.touched">
          <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']" style="color: red;">Confirm Password is required<br/></small>
          <small *ngIf="registerForm.errors?.['passwordMismatch']" style="color: red;">Confirm password must be same as password.</small>
        </div>
        <button type="submit" [disabled]="this.registerForm.invalid" class="btn btn-signin">Create User</button>
      </form>
      <p>Already have an account? <a href="/login">Login Now</a></p>
    </div>
    <div class="login-right">
      <div class="login-content">
            <h1>Welcome to BoughtIt – where shopping meets simplicity!</h1>
            <p>Log in now to discover exclusive deals, fast delivery, and a seamless shopping experience like never before. Your favorite products are just a click away!</p>
            <img src="assets/images/logindashboard.jpg" loading="lazy" alt="Happy customers shopping" class="login-image">
        </div>
    </div>
  </div>