<app-loading-spinner [isLoading]="this.isLoading"></app-loading-spinner>
<div class="product-container">
  <ng-container *ngIf="this.productItems$ | async as productItems; else loading">
    <div *ngIf="productItems.length > 0; else nodata" class="product-grid">
        <app-product-card  *ngFor="let product of productItems" [product]="product"></app-product-card>
    </div>
  </ng-container>

  <ng-template #nodata>
    <div class="empty-products">
      <img src="assets/images/emptywishlist.png" alt="No data" />
      <h2>Didn't find anything</h2>
      <p>Please try with alternative words</p>
    </div>
  </ng-template>
  
  <ng-template #loading>
    <p>Loading Products...</p>
  </ng-template>
</div>
